td.pretty{
    padding: 0 !important;
    .row{
        margin: 0;
        height: 36px;

        div[class^='col-'],
        div[class*=' col-']{
            height: 100%;
            white-space: nowrap;
            border-right: 1px solid #cccccc;
            padding: 10px;

            &:last-child{
                border-right: none;
            }
        }
    }
}

.table{
    &.noborder{
        margin-left: 10px;
        td{
            border: none;
            margin-top: 10px;
            &.title{
                white-space: nowrap;
            }
        }
    }
    &.student-data{
        .the-label{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }
        td{
            border: none;
        }
    }
}

.raw-line{
    display: inline-block;
    width: 100%;
    // margin-bottom: 5px;
    border-bottom: 1px dotted black;
}