td.pretty{
    padding: 0 !important;
    .row{
        margin: 0;
        height: 36px;

        div[class^='col-'],
        div[class*=' col-']{
            height: 100%;
            white-space: nowrap;
            border-right: 1px solid #cccccc;
            padding: 10px;

            &:last-child{
                border-right: none;
            }
        }
    }
}

.table{
    &.noborder{
        margin-left: 10px;
        td{
            border: none;
            margin-top: 10px;
            &.title{
                white-space: nowrap;
            }
        }
    }
    &.student-data{
        .the-label{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }
        td{
            border: none;
        }
    }
}

.raw-line{
    display: inline-block;
    width: 100%;
    // margin-bottom: 5px;
    border-bottom: 1px dotted black;
}

.printable-table{
    td.rotate {
        /* Something you can count on */
        height: 120px;
        width: 40px;
        white-space: nowrap;
    }

    td.rotate>div {
        transform:
            /* Magic Numbers */
            translate(6px, 50px)
            /* 45 is really 360 - 45 */
            rotate(-90deg);
        width: 30px;
    }

    td.rotate>div>span {
        // border-bottom: 1px solid #ccc;
        padding: 5px 10px;
    }
}