@import "components/check_radio";
@import "components/file_picker";
@import "components/marks";
@import "components/report";
@import "components/results";
@import "components/report_config";
@import "components/report_temps";
@import "components/receipt";
// @import "components/table";


//custom fonts
@font-face{
  font-family: 'bank-statement';
  src: url('../css/fonts/not_just_groovy.ttf')

}

@font-face{
  font-family: 'bank-statement-2';
  src: url('../css/fonts/san_statement_regular.ttf')
}

@font-face{
  font-family: 'bank-statement-3';
  src: url('../css/fonts/am_cp.ttf')
}

//textarea validate
textarea.error {
  border: 1px solid #FF0000 !important;
}

//hide vue items
[v-cloak] {
  display: none;
}

.is_active{
  color: green;
}

.is_inactive{
  color: red;
}

.printable-table{
  tr{
    td{
      height: 30px;
    }
  }
}

// @media all {
//   .page-break {
//     display: none;
//   }
// }

.show-on-print {
  display: none;
}

@media print {


  #fees-statement{
    table tr td {
      font-size: 12pt;
      font-family: bank-statement !important;
    }
    
  }

  .show-on-print{
    display: block;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }

  .is-page{
     page-break-inside: avoid !important;
  }
  

  a[href]:after {
    content: none !important;
  }

  @page {
    margin-top: 0;
    margin-bottom: 0;
  }

  .printThis {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  table {
    page-break-after: auto;
    margin-bottom: 5px !important;
    font-size: 10px;
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto
  }

  td {
    page-break-inside: avoid;
    page-break-after: auto;
     height: 10px;
     padding: 3px;
  }

  thead {
    display: table-header-group
  }

  tfoot {
    display: table-footer-group
  }
}

label{
  &.error{
    color: red;
  }
}

input{
  background-color: #ffffff !important;
}

.card-background{
  width: 100%;
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);

  &.is-rounded{
    border-radius: 8px;
  }
  &.has-padding{
    padding: 20px;
  }
}

//image
.image-preview{
  width: 200px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 10px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

//form spaces in modal
.modal-body{
  form{
    div[class*='col-']{
      margin-bottom: 20px;
    }
  }
}


.rps-separator{
  border: 1px solid rgb(204, 204, 204);
  margin-top: 15px;
  width: 40%;
  margin-left: 20px;
}

.td-sep{
  width: 3px;
  display: inline-block;
  background-color: #cccccc;
  height: 100%;
}

